@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

html, body {
	height: 100%;
}

h1 {
	font-family: 'Antic Slab', serif;
	font-size: 80px;
	color: #000;
}

.lead {
	color: #000;
	font-weight: 500 !important;
}

/* Custom container */
.container-full {
	margin: 0 auto;
	width: 100%;
	min-height: 100%;
	background-image: url("../../resources/img/fundo.jpg"); color : #eee;
	overflow: hidden;
	color: #000;
}

.container-full a {
	color: #efefef;
	text-decoration: none;
}

.v-center {
	margin-top: 7%;
}