<!DOCTYPE html>
<html id="ng-app" ng-app="app">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	
	<link rel="shortcut icon" type="image/x-icon" href="resources/img/logo.ico" />
	<link rel="stylesheet" type="text/css" media="screen" href="resources/css/main.css" />
	
	<!-- #CSS Links -->
	<!-- Basic Styles -->
	<link rel="stylesheet" type="text/css" media="screen" href="resources/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="resources/css/font-awesome.min.css" />
	
	<!-- #GOOGLE FONT -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700" />
	
	<!-- #PLUGINS -->
	<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	
	<script src="resources/js/bootstrap/bootstrap.min.js"></script>
	<script src="resources/js/angular.min.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
	
	<script src="resources/js/plugin/angular-ui-select/select.min.js"></script>
	<link rel="stylesheet" type="text/css" href="resources/js/plugin/angular-ui-select/select.min.css" />
	
	<script src="resources/js/app.js"></script>
	<script src="resources/js/main.js"></script>
	<script src="resources/js/util.js"></script>
</head>

<body ng-controller="mainController">

	<div class="container-full">

		<div class="row">

			<div class="col-lg-6 text-center" style="margin: 0 auto; float: none;">

				<span><a href="."><img src="resources/img/logo_sm.png" /></a></span>
				
				<br />
				<br />

				<div class="panel panel-default" style="background: rgba(255,255,255, 0.6);">
					<div class="panel-body">
						<p class="lead">
							Confirme seu voto!
						</p>
					</div>
				</div>

				<div class="row text-center">
					<div class="col-md-12" style="margin: 0 auto; float: none;">
						<div class="row text-center">
							<div class="col-md-12">
								<div class="thumbnail">
									<img src="{{obra.imagem}}" alt="{{obra.titulo}}" class="img-thumbnail" />
									<div class="caption">
										<h3>{{obra.titulo}}</h3>
										<p>Grafitado por {{obra.apelido}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-md-12" style="margin: 0 auto; float: none;">
						<div class="panel panel-default" style="background: rgba(255,255,255, 0.6);">
							<div class="panel-body">
								<form action="cadastrar" method="get">
									<input name="obraId" id="obraId" type="hidden" value="{{obra.id}}"></input>
									<div class="form-group">
										<label for="nome">Nome</label>
										<input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" required="required" />
									</div>
									<div class="form-group">
										<label for="email">Email</label>
										<input type="email" class="form-control" name="email" id="email" placeholder="Email" required="required" />
									</div>
									<a href="obras" class="btn btn-info btn-lg">Voltar</a>
									<button type="submit" class="btn btn-success btn-lg">Confirmar Voto!</button>
								</form>
							</div>
						</div>
					</div>
				</div>

				<br />

			</div>

		</div>
		
		<div th:replace="footer :: footer"/>

	</div>

</body>
</html>