<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <meta charset="utf-8" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
		<link rel="shortcut icon" type="image/x-icon" href="resources/img/logo.ico" />
		<link rel="stylesheet" type="text/css" media="screen" href="resources/css/main.css" />
		
		<!-- #CSS Links -->
		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="resources/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="resources/css/font-awesome.min.css" />
		
		<!-- #GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700" />
		
		<!-- #PLUGINS -->
		<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		
		<script src="resources/js/bootstrap/bootstrap.min.js"></script>
		<script src="resources/js/angular.min.js"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
		
		<script src="resources/js/plugin/angular-ui-select/select.min.js"></script>
		<link rel="stylesheet" type="text/css" href="resources/js/plugin/angular-ui-select/select.min.css" />
		
		<script src="resources/js/app.js"></script>
		<script src="resources/js/admin.js"></script>
		<script src="resources/js/util.js"></script>
		<script src="resources/js/moment/moment.min.js"></script>
		
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
		<script src="resources/js/libs/jquery-ui-1.10.3.min.js"></script>
		<script src="resources/js/libs/jquery.ui.datepicker-pt-BR.js"></script>
		<script src="resources/js/libs/underscore-min.js"></script>
    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
            	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	            	<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand" th:href="@{/admin}">Maravilhas ADM</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/admin}">Home</a></li>
                    <li><a th:href="@{/votos}">Votos</a></li>
                    <li><a th:href="@{/votosPorObra}">Votos por Obra</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                	<li>
                		<form th:action="@{/logout}" method="post" style="margin-top: 8px;">
			            	<input class="btn btn-default" type="submit" value="Logout"/>
			        	</form>
			        </li>
		        </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>