<!DOCTYPE html>
<html id="ng-app" ng-app="app">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	
	<link rel="shortcut icon" type="image/x-icon" href="resources/img/logo.ico" />
	<link rel="stylesheet" type="text/css" media="screen" href="resources/css/main.css" />
	
	<!-- #CSS Links -->
	<!-- Basic Styles -->
	<link rel="stylesheet" type="text/css" media="screen" href="resources/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="resources/css/font-awesome.min.css" />
	
	<!-- #GOOGLE FONT -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700" />
	
	<!-- #PLUGINS -->
	<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	
	<script src="resources/js/bootstrap/bootstrap.min.js"></script>
	<script src="resources/js/angular.min.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
	
	<script src="resources/js/plugin/angular-ui-select/select.min.js"></script>
	<link rel="stylesheet" type="text/css" href="resources/js/plugin/angular-ui-select/select.min.css" />
	
	<script src="resources/js/app.js"></script>
	<script src="resources/js/main.js"></script>
	<script src="resources/js/util.js"></script>
</head>

<body ng-controller="mainController">
	
	<div class="container-full">

		<div class="row">

			<div class="col-lg-12 text-center">

				<span><a href="."><img src="resources/img/logo_sm.png" /></a></span>
				
				<br />
				<br />
				
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<div class="thumbnail">
											<img src="{{obras[0].imagem}}" alt="{{obras[0].titulo}}" class="img-thumbnail" />
											<div class="caption" style="min-height: 85px;">
												<h3>{{obras[0].titulo}}</h3>
												<p>Grafitado por {{obras[0].apelido}}</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<p>
											<a href="#" class="btn btn-success btn-lg" role="button" data-toggle="modal" data-target="#modalObra{{obras[0].id}}">Ampliar</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<div class="thumbnail">
											<img src="{{obras[1].imagem}}" alt="{{obras[1].titulo}}" class="img-thumbnail" />
											<div class="caption" style="min-height: 85px;">
												<h3>{{obras[1].titulo}}</h3>
												<p>Grafitado por {{obras[1].apelido}}</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<p>
											<a href="#" class="btn btn-success btn-lg" role="button" data-toggle="modal" data-target="#modalObra{{obras[1].id}}">Ampliar</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<div class="thumbnail">
											<img src="{{obras[2].imagem}}" alt="{{obras[2].titulo}}" class="img-thumbnail" />
											<div class="caption" style="min-height: 85px;">
												<h3>{{obras[2].titulo}}</h3>
												<p>Grafitado por {{obras[2].apelido}}</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<p>
											<a href="#" class="btn btn-success btn-lg" role="button" data-toggle="modal" data-target="#modalObra{{obras[2].id}}">Ampliar</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<div class="thumbnail">
											<img src="{{obras[3].imagem}}" alt="{{obras[3].titulo}}" class="img-thumbnail" />
											<div class="caption" style="min-height: 85px;">
												<h3>{{obras[3].titulo}}</h3>
												<p>Grafitado por {{obras[3].apelido}}</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<p>
											<a href="#" class="btn btn-success btn-lg" role="button" data-toggle="modal" data-target="#modalObra{{obras[3].id}}">Ampliar</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<div class="thumbnail">
											<img src="{{obras[4].imagem}}" alt="{{obras[4].titulo}}" class="img-thumbnail" />
											<div class="caption" style="min-height: 85px;">
												<h3>{{obras[4].titulo}}</h3>
												<p>Grafitado por {{obras[4].apelido}}</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<p>
											<a href="#" class="btn btn-success btn-lg" role="button" data-toggle="modal" data-target="#modalObra{{obras[4].id}}">Ampliar</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<div class="thumbnail">
											<img src="{{obras[5].imagem}}" alt="{{obras[5].titulo}}" class="img-thumbnail" />
											<div class="caption" style="min-height: 85px;">
												<h3>{{obras[5].titulo}}</h3>
												<p>Grafitado por {{obras[5].apelido}}</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<p>
											<a href="#" class="btn btn-success btn-lg" role="button" data-toggle="modal" data-target="#modalObra{{obras[5].id}}">Ampliar</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<div class="thumbnail">
											<img src="{{obras[6].imagem}}" alt="{{obras[6].titulo}}" class="img-thumbnail" />
											<div class="caption" style="min-height: 85px;">
												<h3>{{obras[6].titulo}}</h3>
												<p>Grafitado por {{obras[6].apelido}}</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<p>
											<a href="#" class="btn btn-success btn-lg" role="button" data-toggle="modal" data-target="#modalObra{{obras[6].id}}">Ampliar</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<div class="thumbnail">
											<img src="{{obras[7].imagem}}" alt="{{obras[7].titulo}}" class="img-thumbnail" />
											<div class="caption" style="min-height: 85px;">
												<h3>{{obras[7].titulo}}</h3>
												<p>Grafitado por {{obras[7].apelido}}</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<p>
											<a href="#" class="btn btn-success btn-lg" role="button" data-toggle="modal" data-target="#modalObra{{obras[7].id}}">Ampliar</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<div class="thumbnail">
											<img src="{{obras[8].imagem}}" alt="{{obras[8].titulo}}" class="img-thumbnail" />
											<div class="caption" style="min-height: 85px;">
												<h3>{{obras[8].titulo}}</h3>
												<p>Grafitado por {{obras[8].apelido}}</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<p>
											<a href="#" class="btn btn-success btn-lg" role="button" data-toggle="modal" data-target="#modalObra{{obras[8].id}}">Ampliar</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<div class="thumbnail">
											<img src="{{obras[9].imagem}}" alt="{{obras[9].titulo}}" class="img-thumbnail" />
											<div class="caption" style="min-height: 85px;">
												<h3>{{obras[9].titulo}}</h3>
												<p>Grafitado por {{obras[9].apelido}}</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<p>
											<a href="#" class="btn btn-success btn-lg" role="button" data-toggle="modal" data-target="#modalObra{{obras[9].id}}">Ampliar</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
		
		<div th:replace="footer :: footer"/>

	</div>
	
	<div class="modal fade" id="modalObra{{obra.id}}" tabindex="-1" role="dialog" aria-labelledby="modalObra{{obra.id}}Label" ng-repeat="obra in obras">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="modalObra{{obra.id}}Label">{{obra.titulo}}</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="thumbnail">
								<img src="{{obra.imagem}}" alt="{{obra.titulo}}" class="img-thumbnail" />
								<div class="caption">
									<h3>{{obra.titulo}}</h3>
									<p>Grafitado por {{obra.apelido}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer" style="text-align: center !important;">
					<button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Fechar</button>
					<button type="button" class="btn btn-success btn-lg" ng-click="votar(obra.id)">Votar Nessa!</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>