<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" id="ng-app" ng-app="app">
<head>
    <div th:replace="header :: header-css"/>
</head>
<body>

<div th:replace="header :: header"/>

<div ng-controller="adminController" class="container">

    <div class="starter-template">
        
        <h1 th:inline="text">Votos</h1>
		
		<div class="form-inline" style="margin-bottom: 10px;">
			<button type="submit" class="btn btn-default" ng-click="exportarCSVTable('#votos_obra_table', 'votosPorObra.csv')">Exportar</button>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			
				<table id="votos_obra_table" class="table table-bordered table-hover table-condensed table-striped" width="100%">
	
			        <thead>
			            <tr>
		                    <th scope="col">Obra</th>
		                    <th scope="col">Votos</th>
		                </tr>
			        </thead>
	
			        <tbody>
			            <tr ng-repeat="obra in obras">
		                    <td>{{obra.obra.titulo}}</td>
		                    <td>{{obra.votos.length}}</td>
		                </tr>
			        </tbody>
			
				</table>
			
			</div>
		</div>
		
    </div>

</div>
<!-- /.container -->


</body>
</html>