<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" id="ng-app" ng-app="app">
<head>
    <div th:replace="header :: header-css"/>
</head>
<body>

<div th:replace="header :: header"/>

<div ng-controller="adminController" class="container">

    <div class="starter-template">
        
        <h1 th:inline="text">Votos</h1>
		
		<div class="form-inline" style="margin-bottom: 10px;">
			<div class="form-group">
				<label for="search">Dia</label>
				<input type="text" class="form-control datepicker" placeholder="Dia" name="search" ng-model="search" />
			</div>
			<button type="submit" class="btn btn-default" ng-click="exportarCSVTable('#votos_table', 'votos.csv')">Exportar</button>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			
				<table id="votos_table" class="table table-bordered table-hover table-condensed table-striped" width="100%">
	
			        <thead>
			            <tr>
		                    <th scope="col">Nome</th>
		                    <th scope="col">Email</th>
		                    <th scope="col">IP</th>
		                    <th scope="col">Data</th>
		                    <th scope="col">Obra</th>
		                </tr>
			        </thead>
	
			        <tbody>
			            <tr ng-repeat="voto in votos | propsFilter: { dia: search }">
		                    <td>{{voto.nome}}</td>
		                    <td>{{voto.email}}</td>
		                    <td>{{voto.ip}}</td>
		                    <td>{{formatDateHour(voto.data)}}</td>
		                    <td>{{voto.obra.titulo}}</td>
		                </tr>
			        </tbody>
			
				</table>
			
			</div>
		</div>
		
    </div>

</div>
<!-- /.container -->


</body>
</html>